body{
    background: linear-gradient(180deg, var(--bg-cream) 0%, var(--bg-peach) 40%, var(--bg-greenish) 100%);
  }
  
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-wrapper h2,label {
  color: #FFF;
}

.form-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-card {
  background-color:rgba(45, 45, 45, 0.26);
  border-radius: 20px;
  border: 1px solid #FFF;
  padding: 2rem;
  max-width: 90%;
  width: 50vw;
  text-align: center;
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  margin-top: 1rem;
  padding: 0.8rem;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.20);
  font-family: inherit;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.category-item {
  background-color: rgba(45, 45, 45, 0.26);
  border-radius: 20px;
  border: 1px solid #FFF;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 15vh;
}

.category-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
}

.next-button{
  margin-top:10px;
  right: 0;
}

.final button{
  color: #FFF;
  border: 1px solid #FFF;
  margin-top: 20px;
}

.next-button svg {
  transform: rotate(-90deg);
}

.form-section span{
  font-family: 'Gloock', serif;
  font-size: clamp(1.3rem, 2vw, 1.3rem);
  color: #FFF;

}
#paso4 .form-card{
  background-color: rgba(45, 45, 45, 0);
    border: 0px solid #FFF;
}

@media (max-width: 480px){

.category-grid{
  grid-template-columns: repeat(2, 1fr);
}
}